{% extends 'base.html.twig' %}

{% block title 'Update the post '~post.id %}

{% block body %}    
    <h1>Update post number {{ post.id }}</h1>
    
	{{ include('post/_form.html.twig', { submitBtnText: "Update Post" }) }}
{% endblock %}

